{{ status }} worktree {{ key }}
Path: {{ path }}
Branch: {{ branch }}
Head: {{ head }}
Creator: {{ creator }}
Purpose: {{ purpose }}
Created: {{ created_at }}
{% if warnings %}
Warnings: {{ warnings }}
{% endif %}
